@font-face {
	font-family: "titillium";
	src: url('./assets/fonts/titillium/TitilliumWeb-Regular.ttf');
}


*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    font-family: "titillium", sans-serif;
}

:root{
    --gray : rgb(76, 76, 76);
    --yellow : rgb(239, 212, 35);
    --navHeight : 50px;
}

.container{
    position : relative;
    top : var(--navHeight);
}


/* TEST */ 


/* NAVAVIGATION BAR */
nav{
    background-color : var(--gray);
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navHeight);
    z-index: 10;
}

nav ul{
    list-style-type: none;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    align-items: center;
    text-align: center;
    grid-gap: 10px;
}

nav li{
    display: inline;
}

nav li a{
    color : white;
    text-decoration: none;
    text-align: center;
}

nav li a:hover{
    color : rgb();
    background-color: #111;
}



/* ACCUEIL */ 


#accueil {
    display: grid;
    min-height: calc(100vh - 50px);
    background: var(--gray) url(./assets/images/home.jpg) no-repeat center;
    background-size: 100% auto;
    background-position: center;
    justify-items: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    
}

#accueil img {
    z-index: -1;
    height: 100%;;
}

/* OFFRES */

#offres {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.offre{
    display: grid;
    padding: 20px;
    background: var(--gray);
    color: white;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    box-shadow: 2px 1px black;
}

.offre .icon-offre{
    font-size: 45px;
    margin-bottom: 10px;
}