@font-face {
	font-family: "titillium";
	src: url('./assets/fonts/titillium/TitilliumWeb-Regular.ttf');
}


*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    font-family: "titillium", sans-serif;
}

:root{
    --gray : rgb(76, 76, 76);
    --yellow : rgb(239, 212, 35);
    --navHeight : 50px;
    --tablette : 740px;
    --smartphone: 480px; 
}

/* TEST */ 


/* ----------------------- NAVAVIGATION BAR ----------------------- */
nav{
    background-color : var(--gray);
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 1px 1px white;
}

.fixed-nav nav{
    position: fixed;
}

nav ul{
    margin: 0;
    padding:0;
    list-style: none;
    display: flex;
    
}

nav li{
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color : white;
    text-decoration: none;
}

nav li:hover{
   background-color : rgba(1, 1, 1, 0.2);
   color : rgba(239, 212, 35, 0.8);
}

nav li:active{
    background-color : rgba(1, 1, 1, 0.2);
    color : var(--yellow);
}

nav a{
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
}

nav .logo{
    background-image: url(./assets/images/logo.jpeg);
    max-width: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(.78,1.55,.82,.87);
}

.fixed-nav nav .logo{
    max-width: 100px;
    background-size: cover;
}
/* Bouton de navigation */
.toggle-nav{
    display: none
}

/* Responsive */
@media screen and (max-width: 1150px) {
	.wrap {
		width:90%;
	}
}

@media screen and (max-width: 740px) {
	.myNav {
		position:relative;
        display:inline-block;
        margin: 20px 0 0 20px;
        border-radius: 25px;
        background-color: rgba(0,0,0,0); 
        box-shadow: none;
	}

	.myNav ul.active {
		display:none;
	}

	.myNav ul {
		max-width:90%;
		position:absolute;
		top:120%;
		left:0px;
		padding:5px 0;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
        background:#303030;
        flex-direction: column;
	}

	.myNav ul:after {
		width:0px;
		height:0px;
		position:absolute;
		top:0%;
		left:22px;
		content:'';
		transform:translate(0%, -100%);
		border-left:7px solid transparent;
		border-right:7px solid transparent;
		border-bottom:7px solid #303030;
	}

	.myNav li {
		margin:1px 0px 1px 0px;
		float:none;
        display:block;
        
	}

	.myNav a {
        display:block;
    }

    .myNav .trigger{
        font-size: 0.8em;
    }
    
    nav .logo{
        overflow: hidden;
        display: none;
    }

	.toggle-nav {
		padding:20px;
		float:left;
		display:inline-block;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:#303030;
		text-shadow:0px 1px 0px rgba(0,0,0,0.5);
		color:#777;
		font-size:20px;
		transition:color linear 0.15s;
	}

	.toggle-nav:hover, .toggle-nav.active {
		text-decoration:none;
		color:var(--yellow);
	}
}

/* ----------------------- ACCUEIL ----------------------- */ 


#accueil {
    display: grid;
    min-height: 80vh;
    background: var(--gray) url(./assets/images/home.jpg) no-repeat center;
    background-size: 100% auto;
    background-position: center;
    justify-items: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    /*filter: grayscale(0.5);*/
    filter: brightness(60%);
}

#accueil .content{
    filter: brightness(100%) !important;
}

/* Responsive */
@media screen and (max-width: 740px){
    #accueil {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px){
    #accueil {
        font-size: 18px;
        min-height: 50vh;
    }
}

/*@media screen and (max-width: 1017)*/


/* ----------------------- OFFRES ----------------------- */

#offres {
    padding: 50px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.offre{
    display: grid;
    padding: 20px;
    background: var(--gray);
    color: white;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    box-shadow: 2px 1px black;
}

.offre .icon-offre{
    font-size: 45px;
    margin-bottom: 10px;
}

/* ----------------------- SECTEUR ----------------------- */
#map {
    margin: auto;
    width: 100%;
    height: 400px;
    background-color: grey;
}


/* ----------------------- FORMULAIRE ----------------------- */

#formulaire {
    background: var(--gray);
    color: white;
    padding: 20px;
}

.form-contact {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

@media screen and (max-width: 1017px) {
    #offres {
        margin: 40px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 572px) {
    #offres {
        margin: 60px;
        grid-template-columns: 1fr;
    }
}

